[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/vim-grepper"]
	path = bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/--force"]
	path = bundle/--force
	url = https://github.com/parsonsmatt/intero-neovim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/vim-floaterm"]
	path = bundle/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "bundle/FixCursorHold.nvim"]
	path = bundle/FixCursorHold.nvim
	url = https://github.com/antoinemadec/FixCursorHold.nvim.git
[submodule "bundle/fern.vim"]
	path = bundle/fern.vim
	url = https://github.com/lambdalisue/fern.vim.git
[submodule "bundle/nerdfont.vim"]
	path = bundle/nerdfont.vim
	url = https://github.com/lambdalisue/nerdfont.vim.git
[submodule "bundle/fern-renderer-nerdfont.vim"]
	path = bundle/fern-renderer-nerdfont.vim
	url = https://github.com/lambdalisue/fern-renderer-nerdfont.vim.git
[submodule "bundle/dashboard-nvim"]
	path = bundle/dashboard-nvim
	url = https://github.com/glepnir/dashboard-nvim.git
[submodule "bundle/vim-clap"]
	path = bundle/vim-clap
	url = https://github.com/liuchengxu/vim-clap.git
[submodule "bundle/fern-hijack.vim"]
	path = bundle/fern-hijack.vim
	url = https://github.com/lambdalisue/fern-hijack.vim.git
[submodule "bundle/nvim-scrollbar"]
	path = bundle/nvim-scrollbar
	url = https://github.com/petertriho/nvim-scrollbar.git
[submodule "bundle/everforest"]
	path = bundle/everforest
	url = https://github.com/sainnhe/everforest.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
